[submodule "Extern/Tracy"]
	path = Extern/Tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Extern/robin_hood"]
	path = Extern/robin_hood
	url = https://github.com/martinus/robin-hood-hashing
[submodule "Extern/Bandit"]
	path = Extern/Bandit
	url = https://github.com/banditcpp/bandit
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "Extern/mimalloc"]
	path = Extern/mimalloc
	url = https://github.com/microsoft/mimalloc
