[submodule "Extern/Tracy"]
	path = Extern/Tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Extern/robin_hood"]
	path = Extern/robin_hood
	url = https://github.com/martinus/robin-hood-hashing
[submodule "Extern/Bandit"]
	path = Extern/Bandit
	url = https://github.com/banditcpp/bandit
[submodule "Extern/fmt"]
	path = Extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Extern/date"]
	path = Extern/date
	url = https://github.com/HowardHinnant/date.git
[submodule "Extern/glm"]
	path = Extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "Extern/spdlog"]
	path = Extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Extern/taskflow"]
	path = Extern/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "Extern/robin-map"]
	path = Extern/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "Extern/sparse-map"]
	path = Extern/sparse-map
	url = https://github.com/Tessil/sparse-map.git
[submodule "Extern/portable-file-dialogs"]
	path = Extern/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "Extern/utfcpp"]
	path = Extern/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "Extern/simdjson"]
	path = Extern/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "Extern/yyjson"]
	path = Extern/yyjson
	url = https://github.com/ibireme/yyjson.git
